<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="Payments" caption="msg://com.company.samplebankaccountingproject/menu.application"
          insertBefore="dashboard" expanded="true">
        <item screen="Payment.browse"
              caption="msg://com.company.samplebankaccountingproject.screen.payment/paymentBrowse.menu"/>
        <item screen="Quote.browse"
              caption="msg://com.company.samplebankaccountingproject.screen.quote/quoteBrowse.menu"/>
        <menu id="References" caption="msg://com.company.samplebankaccountingproject/menu_config.References">
            <item screen="Customer.browse"
                  caption="msg://com.company.samplebankaccountingproject.screen.customer/customerBrowse.menu"
                  icon="ADDRESS_CARD_O"/>
            <item screen="BankAccount.browse"
                  caption="msg://com.company.samplebankaccountingproject.screen.bankaccount/bankAccountBrowse.menu"
                  icon="BANK"/>
            <item screen="IncomingDescription.browse"
                  caption="msg://com.company.samplebankaccountingproject.screen.incomingdescription/incomingDescriptionBrowse.menu"
                  icon="BARS"/>
            <item screen="User.browse" caption="msg://com.company.samplebankaccountingproject.screen.user/UserBrowse.caption"
                  icon="USERS"/>
            <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        </menu>
    </menu>
</menu-config>